<div class="row">
  <img src="" alt="The logo of TMC">
</div>
<div class="row">
  <h1>I'm a:</h1>
</div>
<div class="row">
  <button class="col-sm-3" type="button" name="button">Teacher</button>
  <button class="col-sm-3" type="button" name="button">Tutor</button>
  <button class="col-sm-3" type="button" name="button">Parent/Student</button>
</div>
