<div class="row">
  <h1>I'm a:</h1>
</div>
<div class="row">
  <button class="col-md-3" type="button" name="button">Teacher</button>
  <button class="col-md-3" type="button" name="button">Tutor</button>
  <button class="col-md-3" type="button" name="button">Parent/Student</button>
</div>
