<div class="row">
  <h1>I'm a:</h1>
</div>
<div class="row">
    <%= button_to "Teacher", forms_teacher_url, method: :get %> 


  <button class="col-md-3" type="button" name="button">Tutor</button>
  <button class="col-md-3" type="button" name="button">Parent/Student</button>
</div>
