<div class="row">
    <h1>I'm a:</h1>
</div>

<div class="btn-group btn-group-justified">
    <%= button_to "Teacher", forms_teacher_url, method: :get, :class => 'btn btn-outline-primary' %>
    <%= button_to "Tutor", forms_tutor_url, method: :get, :class => 'btn btn-outline-success' %>
    <%= button_to "Parent", forms_parent_student_url, method: :get, :class => 'btn btn-outline-info' %>
</div>
