<img src="" alt="The logo of TMC">
<h1>I'm a:</h1>
<button type="button" name="button">Teacher</button>
<button type="button" name="button">Tutor</button>
<button type="button" name="button">Parent/Student</button>
