<div class="container">
  <div class="row title">
    <h1>Parent & Student Form</h1>
  </div>

  <form method='POST', action='/forms/student_submit'>
    <div class="tab">
      <div class="form-group">
        <label for="name">Student Name</label>
        <input type="text" name="question[name]" class="form-control" placeholder="ex. First Middle Last">
        <small class="form-text text-muted">Please enter your full name here!</small>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" name="question[phone]" class="form-control" placeholder="ex. 000-000-0000">
        <small class="form-text text-muted">Please enter your phone number here!</small>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" name="question[email]" class="form-control" placeholder="ex. TMC@gmail.com">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="question[address]" class="form-control" placeholder="123 Street, Berkeley, CA 94704">
      </div>
    </div>
    <div class="tab">
      <div class="form-group">
        <label for="piano">Home Piano?</label>
        <select class="form-control" name="question[piano]">
          <option>No</option>
          <option>Yes</option>
        </select>
        <small class="form-text text-muted">Select "Yes" if you own a piano at home.</small>
      </div>
    </div>
    <div class="tab">
      <div class="form-group">
        <label for="grade">Grade Level select</label>
        <select class="form-control" name="question[grade]">
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
    </div>
    <div class="tab">
        <div class="form-group">
          <label>Instrument</label>
          <select class="form-control" name="question[instrument]" id="instrument">
            <option value="Violin">Violin</option>
            <option value="Cello">Cello</option>
            <option value="Guitar">Guitar</option>
            <option value="Piano">Piano</option>
            <option value="Others" >Others</option>
          </select>
          <input class="form-control" type="text" id="instr_other" style="display:none;" name="question[instrument]" placeholder="Specify instrument">
          <small class="form-text text-muted">Select an instrument you/your child would like to be tutored for.</small>
        </div>
    </div>
    <div class="tab">
        <div class="form-group">
          <label for="extra">Experiences</label>
          <input type="text" name="question[experiences]" class="form-control" placeholder="ex. Dead Musician's Society">
          <small class="form-text text-muted">If you have any involvement with other musical group, please write them down here!</small>
        </div>
    </div>
    <div class="tab">
        <div class="form-group">
          <label>Applied to TMC before?</label>
          <select class="form-control" name="question[pastapp]">
            <option>No</option>
            <option>Yes</option>
          </select>
        </div>
    </div>
    <div class="tab">
        <div class="form-group">
          <label for="lunch">Do you qualify for free/reduced lunch?</label>
          <select class="form-control" name="question[lunch]">
            <option>No</option>
            <option>Yes</option>
          </select>
        </div>
    </div>

    <button type="button" id="prev_btn" class="btn btn-primary">Prev</button>
    <button type="button" id="next_btn" class="btn btn-primary">Next</button>
    <button type="submit" id="sub_btn" class="btn btn-primary">Submit</button>
  </form>

</div>

<%= javascript_include_tag('forms_student.js') %>
