<div class="row title">
  <h1>Teacher's Form</h1>
</div>

<div class="row">
  <div class="alert alert-primary">
    <h2>Question 1: What is your name?</h2>
    <input type="text" name="" value="">
  </div>
</div>

<div class="row">
  <button type="button" id="prev">prev</button>
  <button type="button" id="next">next</button>
</div>
<%= javascript_include_tag('forms.js') %>
