<div class="row title">
  <h1>Teacher's Form</h1>
</div>

<form method='POST', action='/forms/tutor_next_q'>
  <div class="tab">
    <div class="form-group">
      <label for="name">Teacher Name</label>
      <input type="text" name="question[teacher_name]" class="form-control" placeholder="ex. First Middle Last" required>
      <small class="form-text text-muted">Please enter your full name here!</small>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" name="question[phone]" class="form-control" placeholder="ex. 000-000-0000">
      <small class="form-text text-muted">Please enter your phone number here!</small>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="question[email]" class="form-control" placeholder="ex. TMC@gmail.com" required>
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>
  <div class="tab">
    <div class="form-group">
      <label for="class_name">Class Name</label>
      <input type="text" name="question[class_name]" class="form-control" placeholder="ex. Piano Beginner">
      <small class="form-text text-muted">Please enter your class name here!</small>
    </div>
    <div class="form-group">
      <label for="school">School</label>
      <input type="text" name="question[school_name]" class="form-control" placeholder="ex. Berkeley elementary school">
      <small class="form-text text-muted">Please enter your school here!</small>
    </div>
    <div class="form-group">
      <label for="grade">Grades Level(s)</label>
      <input type="text" name="question[grade]" class="form-control" placeholder="ex. 6th grades">
      <small class="form-text text-muted">Please enter your grade level(s) here!</small>
    </div>
    <div class="form-group">
      <label for="extra">Time availability</label><br>
      <input type="datetime-local" name="question[time]">
      <small class="form-text text-muted">Please enter your time availabilities!</small>
    </div>
    <div class="form-group">
      <label for="extra">Start Date</label><br>
      <input type="datetime-local" name="question[start_date]">
      <small class="form-text text-muted">Please enter your start date!</small>
    </div>
    <div class="form-group">
      <label for="extra">End Date</label><br>
      <input type="datetime-local" name="question[end_date]">
      <small class="form-text text-muted">Please enter your end date!</small>
    </div>
    <div class="form-group">
      <label for="instrument">Instruments</label>
      <input type="text" name="question[instrument]" class="form-control" placeholder="ex. Violin">
      <small class="form-text text-muted">Please enter your instrument here!</small>
    </div>
    <div class="form-group">
      <label for="instrument">Comment</label>
      <input type="text" name="question[instrument]" class="form-control">
      <small class="form-text text-muted">Special instructions / Preference</small>
    </div>
  </div>
  <button type="button" id="prev_btn" class="btn btn-primary">Prev</button>
  <button type="button" id="next_btn" class="btn btn-primary">Next</button>
  <button type="submit" id="sub_btn" class="btn btn-primary">Submit</button>
</form>

<%= javascript_include_tag('forms.js') %>
