<div class="row title">
  <h1>Tutor's Form</h1>
</div>

<div class="row">
  <div class="question">
    <form method='POST', action='/forms/tutor_next_q' id='page-0 '>
        <% if @q_page == 0  %>
            <input type="text" name="question[name]" placeholder="Name" required>
            <input type="email" name="question[email]" placeholder="Email" required>
            <input type="number" name="question[id]" value="" placeholder="SID" required>
            <input type="tel" name="question[phone]" value="" placeholder="Phone">
            <input type="text" name="question[major]" value="" placeholder="Major">
            <input type="text" name="question[minor]" value="" placeholder="Minor">
            <textarea form ="page-0" name="question[extra]" cols="70" wrap="soft" placeholder="Involvement with other musical group"></textarea>
            <textarea form ="page-0" name="question[time]" cols="70" wrap="soft" placeholder="Family meeting time availability (ex. 12-13, 15-17)" required></textarea>
            <input type="submit" value="Next">
        <% end %>
        <% if @q_page == 1  %>
            <input type="text" name="question[name]" placeholder="Name" placeholder="Family meeting time availability (ex. 12-13, 15-17)" required>
            <input type="submit" value="Next">
        <% end %>
    </form>
  </div>
</div>

<div class="row">
  <button type="button" id="prev">prev</button>
  <button type="button" id="next">next</button>
</div>
<%= javascript_include_tag('forms.js') %>
