<div class="row title">
  <h1>Tutor's Form</h1>
</div>

<div class="row">
  <div class="question">
    <form method='POST', action='/forms/tutor_next_q'>
      <div class="tab">
        <input type="text" name="question[name]" placeholder="Name" required>
        <input type="email" name="question[email]" placeholder="Email" required>
        <input type="tel" name="question[phone]" placeholder="Phone">
        <input type="text" name="question[major]" value="" placeholder="Major">
        <input type="text" name="question[minor]" value="" placeholder="Minor">
        <textarea name="question[extra]" rows="8" cols="80" placeholder="Involvement with other musical group"></textarea>
        <textarea name="question[time]" rows="8" cols="80" placeholder="Family meeting time availability (ex. 12-13, 15-17)" required></textarea>
      </div>
      <input type="button" id="prev_btn" value="Previous">
      <input type="button" id="next_btn" value="Next">
      <input type="submit" id="sub_btn" value="Submit">
    </form>
  </div>
</div>

<!-- <div class="row">
  <button type="button" id="prev">prev</button>
  <button type="button" id="next">next</button>
</div> -->
<%= javascript_include_tag('forms.js') %>
