<div class="row title">
  <h1>Tutor's Form</h1>
</div>

<div class="row">
  <div class="question">
    <form method='POST', action='/forms/tutor_next_q'>
      <div class="tab">
        <input type="text" name="question[name]" placeholder="Name">
        <input type="email" name="question[email]" placeholder="Email">
      </div>
      <div class="tab">
        <input type="tel" name="question[phone]" placeholder="Phone">
      </div>
      <div class="tab">
        <input type="text" name="question[height]" placeholder="Height">
      </div>
            <!-- <input type="number" name="question[id]" value="" placeholder="SID" required>
            <input type="tel" name="question[phone]" value="" placeholder="Phone">
            <input type="text" name="question[major]" value="" placeholder="Major">
            <input type="text" name="question[minor]" value="" placeholder="Minor">
            <input type="text" name="question[extra]" value="" placeholder="Involvement with other musical group">
            <input type="text" name="question[time]" value="" placeholder="Family meeting time availability (ex. 12-13, 15-17)" required>
            <input type="submit" value="Next"> -->

      <input type="button" id="prev_btn" value="Previous">
      <input type="button" id="next_btn" value="Next">
      <input type="submit" id="sub_btn" value="Submit">
    </form>
  </div>
</div>

<!-- <div class="row">
  <button type="button" id="prev">prev</button>
  <button type="button" id="next">next</button>
</div> -->
<%= javascript_include_tag('forms.js') %>
