@import "bootstrap";

.radio-group.invalid {
  background-color: pink;
}

.invalid {
  background-color: #ffdddd;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 35px;
    width:75%;    //Specify your width here
}

.btn-group {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: block; /* Make the buttons appear below each other */
}

.logo {
    padding-bottom: 10px;
}

.bg {
    background: url(background.png) no-repeat center center fixed;
    position: relative;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
     background-size: 100% auto;
}
